<form><h2>Profile Information</h2>
<div>
  <label>First Name:</label>
  <span id="firstName">{{firstName}}</span>
</div>
<div>
  <label>Last Name:</label>
  <span id="lastName">{{lastName}}</span>
</div>
<div>
  <label>Email:</label>
  <span id="email">{{email}}</span>
</div>
<div>
  <label>Password:</label>
  <span id="password">{{password}}</span>
</div>
<div>
  <label>Phone Number:</label>
  <span id="phone">{{phone}}</span>
</div>
<div>
  <label>Date of Birth:</label>
  <span id="dob">{{dob}}</span>
</div>

</form>