

<div  class="card">
  <div class="card-details" >
       
    Name: Vamshidhar Bodhankar
    <p>DOB: 02-06-1998
    <p>Occupation: Fullstack Developer
    <p>Email: vamshidhar0206@gmail.com
    <p>Phone: +1 (770) 744-5074
    <p>Address: 1408 Meadowbrook Dr, <br>
        McKinney, TX 75069 
    <p>Sport: Cricket
    <p>Achievements: 1. Removed bugs from the CRM software for ABC Company,making it 50% more efficient than before.<br>
        2. Successfully modified numerous software applicationshat increased user-friendliness by 20%.<br>
        3. Introduced a solid database and GUI to identify user needs with 95% accuracy.<br> 
        Hobbies:Playing chess           
        Cricket
        Reading books 
        Writing
        Cooking 
        Traveling
        Social Media
        Coading
    



    

    </div>
    <div  class="image"><img id="img" width="250" height="250"  src=''
        > </div>
  </div>
